@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300&display=swap');

.wrapper {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
}

.content {
  width: 50%;
}

.illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.illustration-tile {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  background-color: #c4c4c4;
  margin-top: -120px;
}

.illustration-coin {
  width: 220px;
  height: 220px;
  margin-top: 120px;
}

.page-title {
  font-family: Lalezar;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  margin: 0;
}

.main-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.bold-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.accent-text {
  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  color: #f39c12;
  margin: 0;
}

.small-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.button {
  background: #f39c12;
  border-radius: 10px;
  border: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 4px 12px 4px 12px;
}

.raw {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.section {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 2%;
}

.dropdown {
  border: none;
  padding: 2px;
  background-color: white;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.input {
  border-radius: 3px;
}

input[type='range'] {
  height: 13px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 30%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 7px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 7px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 7px;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #000000;
}
input[type='range']:focus::-ms-fill-upper {
  background: #000000;
}

.school-logo {
  height: 20px;
}

.wrapper-align-center {
  height: 100%;
  padding: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-coin {
  height: 1rem;
}

.table-data {
  text-align: right;
  padding: 4px 12px 4px 12px;
}

.table-data-headings {
  border-bottom: 1px solid;
}

table {
  border-spacing: 0;
}

.table-body {
  margin-top: 1rem;
}

.game-field-tile {
  width: 40px;
  min-height: 40px;
  border-radius: 4px;
  background-color: #c4c4c4;
}
